h1 {
	text-align: center;
	color: floralwhite;
	font-size: 50px;
	font-family: roboto;
}

p {
	font-family: roboto;
	color: ghostwhite;
	margin-right: 30px;
	margin-left: 30px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

body {
	background: url(index.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: black;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 12px;
	width: 100px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

a {
	font-size: 20px;
	font-family: roboto;
	color: ghostwhite;
	margin-right: 30px;
	margin-left: 30px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

table {
	background: slateblue;
	opacity: 0.8;
    margin-left:auto;
    margin-right:auto; 
    margin-bottom: 0px; 
}

th,
td {
	text-align: left;
	color: black;
	font-size: 30px;
	font-family: roboto;
}